<div class="card mb-3">
  <h2 class="card-header h4">
    Box #<%= box.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= box.name %></dd>

      <dt>User</dt>
      <dd>
        <% if @box.user.present? %>
          <%= link_to box.user, box.user %>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @box.category.present? %>
          <%= link_to box.category, box.category %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back box, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @box.user %>
          <%= link_to edit_box_url(box), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @box.user %>
          <%= link_to box, method: :delete, data: { confirm: "Do you really want to delete this box?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(box.updated_at) %> ago
  </div>
</div>
