<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for title start -->
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = item.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <!-- Input for title start -->
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <!-- Input for title end -->
    <% if title_was_invalid %>
      <% item.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for title end -->
  <!-- Label and input for box_id start -->
  <div class="form-group">
    <% box_class = "form-control" %>
    <% box_was_invalid = item.errors.include?(:box) %>

    <% if was_validated %>
      <% if box_was_invalid %>
        <% box_class << " is-invalid" %>
      <% else %>
        <% box_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :box_id %>
    <!-- Input for box_id start -->
    <%= f.collection_select :box_id, Box.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for box_id end -->
    <% if box_was_invalid %>
      <% item.errors.full_messages_for(:box).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for box_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
