<%= form_with(model: @box, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :category_id, value: @category.id %>

  <%= f.submit "Create box", class: "btn btn-block btn-outline-secondary" %>
<% end %>
